$primary-color: #bd3f32;
$primary-color-light: #cb356b;
$primary-color-dark: #ba2f2f;

$secondary-color-light: #34495e;
$secondary-color-dark: #2c3e50;

$tertiary-color-light: #12cbc4;
$tertiary-color-dark: #1289a7;

$footer-color: #292d33;
$main-gradient: linear-gradient(to right, #cb356b, #bd3f32);

$color-dark-1: #111;
$color-dark-2: #333;
$color-grey-1: #95a5a6;
$color-grey-2: #7f8c8d;
$color-light-1: #eeeeee;
$color-light-2: #f2f2f2;
$color-light-3: #dfdfdf;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
